.Synthesiser {
  display: inline-block;
  vertical-align: middle;
  min-width: 17em;
}

.Synthesiser * {
  vertical-align: middle;
}

.Synthesiser .box {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.Synthesiser .margin-right-10 {
  margin-right: 10px;
}

.Synthesiser .small-em {
  height: 0.7em;
}

.Synthesiser .orange-text {
  color: #eb4d03;
}