.Synthesiser {
  display: inline-block;
  vertical-align: middle;
}

.Synthesiser * {
  vertical-align: middle;
}

.Synthesiser .clickable {
  cursor: pointer;
  background: #ffd79b;
  color: #eb4d03;
  padding: 5px 20px;
  flex: 1;
  transition: all .4s;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 1em;
}
.Synthesiser .clickable:hover {
  background: #ca3609;
  color: #fffffa;
  transition: all .4s;
}
.Synthesiser .clickable:disabled {
  cursor: default;
  background: #7b8b9b;
  color: #cbd1d0;
  transition: all .4s;
}
.Synthesiser .non-clickable {
  cursor: pointer;
  font-size: 1em;
  background: #ffd79b;
  color: #eb4d03;
  padding: 5px 20px;
  flex: 1;
  transition: all .4s;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.Synthesiser .box {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.Synthesiser .box select {
  background-color: #ffd79b;
  color: #eb4d03;
  padding: 5px 3em 5px 1em;
  line-height: 2em;
  border: none;
  appearance: button;
  outline: none;
}

.Synthesiser .box::before {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 100%;
  text-align: center;
  font-size: 0.5em;
  line-height: 3.5em;
  color: rgba(235, 77, 3, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.Synthesiser .box:hover::before {
  color: rgba(235, 77, 3, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
}

.Synthesiser .box select option {
  padding: 30px;
}

.Synthesiser .margin-right-10 {
  margin-right: 10px;
}

.Synthesiser .small-em {
  height: 0.7em;
}

.Synthesiser .orange-text {
  color: #eb4d03;
}

input[type=range].synthesiser-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range].synthesiser-range:focus {
  outline: none;
}
input[type=range].synthesiser-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 215, 155, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].synthesiser-range::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range].synthesiser-range:focus::-webkit-slider-runnable-track {
  background: rgba(255, 235, 206, 0.78);
}
input[type=range].synthesiser-range::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 215, 155, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].synthesiser-range::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
}
input[type=range].synthesiser-range::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].synthesiser-range::-ms-fill-lower {
  background: rgba(255, 195, 104, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].synthesiser-range::-ms-fill-upper {
  background: rgba(255, 215, 155, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].synthesiser-range::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
  height: 11.4px;
}
input[type=range].synthesiser-range:focus::-ms-fill-lower {
  background: rgba(255, 215, 155, 0.78);
}
input[type=range].synthesiser-range:focus::-ms-fill-upper {
  background: rgba(255, 235, 206, 0.78);
}
input[type=range].synthesiser-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range].synthesiser-range:focus {
  outline: none;
}
input[type=range].synthesiser-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 215, 155, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].synthesiser-range::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range].synthesiser-range:focus::-webkit-slider-runnable-track {
  background: rgba(255, 235, 206, 0.78);
}
input[type=range].synthesiser-range::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 215, 155, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].synthesiser-range::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
}
input[type=range].synthesiser-range::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].synthesiser-range::-ms-fill-lower {
  background: rgba(255, 195, 104, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].synthesiser-range::-ms-fill-upper {
  background: rgba(255, 215, 155, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].synthesiser-range::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
  height: 11.4px;
}
input[type=range].synthesiser-range:focus::-ms-fill-lower {
  background: rgba(255, 215, 155, 0.78);
}
input[type=range].synthesiser-range:focus::-ms-fill-upper {
  background: rgba(255, 235, 206, 0.78);
}
input[type=range].synthesiser-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range].synthesiser-range:focus {
  outline: none;
}
input[type=range].synthesiser-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 215, 155, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].synthesiser-range::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range].synthesiser-range:focus::-webkit-slider-runnable-track {
  background: rgba(255, 235, 206, 0.78);
}
input[type=range].synthesiser-range::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 215, 155, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].synthesiser-range::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
}
input[type=range].synthesiser-range::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].synthesiser-range::-ms-fill-lower {
  background: rgba(255, 195, 104, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].synthesiser-range::-ms-fill-upper {
  background: rgba(255, 215, 155, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].synthesiser-range::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #eb4d03;
  cursor: pointer;
  height: 11.4px;
}
input[type=range].synthesiser-range:focus::-ms-fill-lower {
  background: rgba(255, 215, 155, 0.78);
}
input[type=range].synthesiser-range:focus::-ms-fill-upper {
  background: rgba(255, 235, 206, 0.78);
}
